.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77c79d;
  height: 70px;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
